{% extends 'base.html.twig' %}
{% block title %}New Donation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex align-items-center user-member__title mb-30 mt-30">
                <h4 class="text-capitalize">Add Donation</h4>
            </div>
        </div>
    </div>
    {{ include('donation/_form.html.twig') }}
{% endblock %}
