{% extends 'base.html.twig' %}

{% block title %}Edit ProductCategory{% endblock %}

{% block body %}



         <div class="dm-page-content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">

                     <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">Edit Category</h4>
                        <div class="breadcrumb-action justify-content-center flex-wrap">
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                 <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>Home</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">Edit Category</li>
                              </ol>
                           </nav>
                        </div>
                     </div>

                  </div>
                  <div class="col-lg-6">
                     <div class="card card-default card-md mb-4">
                        <div class="card-header">
                           <h6>Edit category</h6>
                        </div>
                        <div class="card-body">
                           <div class="basic-form-wrapper">
                                 {{ include('BackOffice/product_category/_form.html.twig', {'button_label': 'Update'}) }}
                                    
                           </div>
                           <div><br><br></div>
                        </div>
                     </div>
                     <!-- ends: .card -->

                  </div>

                  <div class="col-xxl-4 col-lg-6 mb-25">
                     <div class="card banner-feature banner-feature--danial mb-0 h-100">
                        <div class="banner-feature__shape">
                           <img src="{{ asset('BackOffice/img/Post-amico.png') }}" style="  display: block;
  margin-left: 280px;
  margin-right: auto;max-width:50%;" alt="img">
                        </div>
                        <div class="d-flex justify-content-center">
                           <div class="card-body">
                              <h1 class="banner-feature__heading color-white">Edit this category</h1>
                              <p class="banner-feature__para ">Lorem ipsum lorem ipsum</p>
                              <a href="{{ path('app_product_category_index') }}">
                                    <button class="banner-feature__btn btn color-secondary btn-md px-20 radius-xs fs-15" style="background:#A40E1C;" type="button">Back to categories</button>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>


{% endblock %}
