{% extends 'base.html.twig' %}

{% block title %}Edit Donation{% endblock %}

{% block body %}
    <h1>Edit Donation</h1>

    {{ include('BackOffice/donation/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('BackOffice/donation/_delete_form.html.twig') }}
{% endblock %}
